@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background:linear-gradient(
        320deg,
        white 20%,
        skyblue 20%
    );
}

.quiz-container{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(100,100,100, 0.3);
    width: 600px;
    overflow: hidden;
}

.quiz-container .quiz-header{
    padding: 4rem;
}

h2{
    text-align: center;
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-size: 1.2rem;
    margin: 10px 0;
}

ul li label{
    cursor: pointer;
}

button{
    background-color: rgb(58, 58, 150);
    width: 100%;
    padding: 30px;
    color: white;
    font-family: inherit;
    border:none;
    font-weight: bold;
    font-size: 18px;
}

button:hover{
    background-color:brown;
}

button:focus{
    background-color: chartreuse;
    outline: 0;
}